.welcome {
    margin-top: 1.5em;
    text-align: center;
    color: rgb(195, 0, 255);

    .comeon {
        color: rgb(136, 136, 136);
    }

    .info {
        color: black;
        font-size: medium;
    }
}