<mat-toolbar>
    <button class="/home-button" routerLink = "/404" routerLinkActive="active" ariaCurrentWhenActive = "page" >
    <span>Tinner</span>
    </button>
    <button  routerLink = "/members" routerLinkActive="active" ariaCurrentWhenActive = "page" >
    <span>Members</span>
    </button>
    <button class="/home-button" routerLink = "/404" routerLinkActive="active"  ariaCurrentWhenActive = "page" >
    <span>Tinner</span>
    </button>
</mat-toolbar>
    <!-- <span>My App</span> -->
    <span class="my-spacer"></span>
   <button routerLink = "/login">
    <mat-icon>login</mat-icon>
   </button>